In [40]:
df = pd.read_csv("example.csv")

In [41]:
df.head()

  Student     Date    Start      End Prep+Marking  Hours  Minutes  Total
0     xyz  19.5.20  7.00 am  8.00 am          15m      1       15   1.25
1     abc  21.5.20  7.00 am  8.00 am          30m      1       30   1.50
2     xyz  19.5.20  7.00 am  8.00 am          15m      1       15   1.25
3     abc  21.5.20  7.00 am  8.00 am          30m      1       30   1.50
4     xyz  19.5.20  7.00 am  8.00 am          15m      1       15   1.25

In [26]:
df.loc[4,'Minutes']

15

In [27]:
df.iloc[3,7]

1.5

In [34]:
z=df.loc[0:2,'Start':'Hours']
z

     Start      End Prep+Marking  Hours
0  7.00 am  8.00 am          15m      1
1  7.00 am  8.00 am          30m      1
2  7.00 am  8.00 am          15m      1

In [37]:
z=df.iloc[0:3,1:4]
z

      Date    Start      End
0  19.5.20  7.00 am  8.00 am
1  21.5.20  7.00 am  8.00 am
2  19.5.20  7.00 am  8.00 am

In [43]:
import numpy as np

a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [44]:
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [45]:
a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])